#heading {
    text-transform: uppercase;
    color: #066963;
    font-weight: normal;
}

#veraform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-family: "Roboto", Sans-serif;
}

#veraform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
}

#veraform fieldset:not(:first-of-type) {
    display: none;
}

#veraform input,
#veraform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#veraform input:focus,
#veraform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #066963;
    outline-width: 0;
}

#veraform .action-button {
    width: 100px;
    background: #066963;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#veraform .action-button:hover,
#veraform .action-button:focus {
    background-color: #066963 !important;
}

#veraform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#veraform .action-button-previous:hover,
#veraform .action-button-previous:focus {
    background-color: #000000;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #066963 !important;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #066963 !important;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.form-control:focus{
    border-color: #ebebeb !important;
    box-shadow: 0 0 0 .2rem rgba(6,105,99,.25) !important;
}

.form-control{
    border-color: #ebebeb !important;
    height: 50px !important;
    background: #f3f4f5 !important;
}

.form-control:hover{
    border-color: #ebebeb !important;
    box-shadow: 0 0 0 .2rem rgba(6,105,99,.25) !important;
}

.fieldlabels {
    color: gray;
    text-align: left;
    padding: 10px 0;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    padding: 0;
}

#progressbar .active {
    color: #066963 !important;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f15c";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f058";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    position: relative;
    z-index: 2;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #066963 !important;
}

.progress {
    height: 20px !important;
}

.progress-bar {
    background-color:#066963 !important;
}

.fit-image {
    width: 100% !important;
    object-fit: cover !important;
}